* { 
  margin:0; 
  padding:0; 
}

html, body {
  width:100%; 
  height:100%;
  background-color: #000;
}

#debug { 
	color: #FFF;
} 

#wrapper-canvas { 
	display: flex; 
	justify-content: center;
	align-items: center;
} 

#wrapper-utils { 
	display: flex; 
	justify-content: center;
	align-items: center;
	height:100%;
} 

#loader, #loader img {
	width: 100px;
  height: 100px;
}

#warning-camera {
  display: none;
	padding: 0px 10px;
}

#warning-camera img {
	width: 400px;
	max-width: 100%;
}

canvas { 
  display: block;
  max-width: 100%;
  width: 100%;
}